* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
}

nav {
  width: 90vw;
  height: 10vh;
  padding: 1.25rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
}

#links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;
  color: gray;
}

#links a:hover {
  color: black;
}

main {
  width: 90vw;
  margin: 1.25rem;
  margin-right: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.625rem;
  max-width: 80vw;
}

main div {
  min-width: 2rem;
  min-height: 5rem;
}

#first {
  background-color: blue;
}

#second {
  background-color: green;
}

#third {
  background-color: purple;
}

#fourth {
  background-color: orange;
}

#fifth {
  background-color: plum;
}

#sixth {
  background-color: black;
}

#seventh {
  background-color: goldenrod;
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 1rem;
  }

  #first {
    grid-column: 1 / 3;
    background-color: blue;
  }

  #second {
    grid-column: 3 / -1;
    background-color: green;
  }

  #third {
    grid-row: 2 / 4;
    grid-column: 1 / 5;
    background-color: purple;
  }

  #fourth {
    grid-row: 2 / 3;
    grid-column: 5 / -1;
    background-color: orange;
  }

  #fifth {
    grid-row: 3 / 4;
    grid-column: 5 / -1;
    background-color: plum;
  }

  #sixth {
    grid-row: -3 / -1;
    grid-column: 1 / 3;
    background-color: black;
  }

  #seventh {
    grid-row: -3 / -1;
    grid-column: 3 / -1;
    background-color: goldenrod;
  }
}
